@page "/autocomplete/grid-form-example"
<h3>Grid Form Example</h3>

<p>This page shows an example where the SelectedOption of the Autocomplete component is set from the outside.
	When a different person is selected in the grid, the bound model of the form is updated and therefore the SelectedOption of the Autocomplete (Country) as well.

	In this case everything works as I would expect, because when the Model of the Form changes the input components inside the form are newly initialized.
	So at this point the internal Items list of the Autocomplete list is still empty and the SelectedOption can be set to anything.
	(Check the console output to see that the component is newly initialized every time the selection in the grid changes.)
</p>

<FluentSplitter>
	<Panel1>
		<FluentDataGrid Items="Person.People.AsQueryable()" TGridItem="Person">
			<SelectColumn SelectedItems="_selectedPersons" TGridItem="Person"
						  SelectMode="DataGridSelectMode.SingleSticky" OnSelect="@OnSelect" />
			<PropertyColumn Property="@(p => p.Name)" Title="Name" />
			<PropertyColumn Property="@(p => p.Country)" Title="Country" />
		</FluentDataGrid>
	</Panel1>
	<Panel2>
		<FluentCard>
			<h3></h3>

			<EditForm Model="@_selectedPerson">
				<FluentStack Orientation="@Orientation.Vertical">
					<FluentTextField @bind-Value="_selectedPerson.Name" Label="Name" />
					<CustomAutocomplete TOption="Country"
										@bind-SelectedOption="_selectedPerson.Country"
										OnOptionsSearch="@OnSearchAsync"
										Label="Country"
										Width="250px"
										Multiple="false"
										MaximumOptionsSearch="5" />
				</FluentStack>
			</EditForm>

		</FluentCard>
	</Panel2>
</FluentSplitter>

@code {
	IEnumerable<Person> _selectedPersons => _selectedPerson is null ? [] : [_selectedPerson];

	Person _selectedPerson = Person.People[0];

	public void OnSelect((Person Item, bool Selected) e)
	{
		if (e.Selected)
			_selectedPerson = e.Item;
	}

	private void OnSearchAsync(OptionsSearchEventArgs<Country> e)
	{
		Console.WriteLine("OnSearchAsync called with text: " + e.Text);
		if (String.IsNullOrEmpty(e.Text))
		{
			e.Items = Country.Countries;
		}
		else
		{
			e.Items = Country.Countries
				.Where(c => c.Name.Contains(e.Text, StringComparison.InvariantCultureIgnoreCase))
				.ToList();
		}
	}
}
