@page "/"

<PageTitle>Home</PageTitle>

<h2>Autocomplete set SelectedOption not in Items list</h2>

<p>This page demonstrates an issue when setting the SelectedOption to a value that is not in the current Items list.</p>
<p>
	When this page is freshly loaded, you can set the SelectedOption programmatically to every value via the buttons (Atlantis, Spain, Canada).
	At this stage, the Items list is null, because the OnSearchAsync has not yet been called.
</p>
<p>
	When you load the Items list once by clicking in the component, it is not possible to set the SelectedOption to a value that is not in the current Items list anymore. <br />
	Atlantis -> not possible, because it is not in the list loaded by OnSearchAsync.<br />
	Spain -> not possible, because it is in the list, but not in the displayed items (because MaximumOptionsSearch=9 and it's the 10th option).<br />
	Canada -> possible, because it is in the list and in the displayed items.
</p>
<p>
	Now clear the text field and search for "ger" this reduces the Items list to only "Germany".
	It is now no longer possible to set the SelectedOption to Canada either, because it is not in the reduced Items list anymore.
</p>

<FluentStack Orientation="Orientation.Vertical">
	<FluentAutocomplete TOption="Country"
						SelectedOption="@_selectedOption"
						SelectedOptionChanged="@SelectedOptionChanged"
						Multiple="false"
						OnOptionsSearch="@OnSearchAsync"
						Width="250px">
	</FluentAutocomplete>

	<FluentLabel Typo="Typography.Body">
		_selectedOption: @_selectedOption
	</FluentLabel>

	<FluentStack>
		<FluentButton OnClick="@(() => _selectedOption = _countryNotInList)">Set Atlantis</FluentButton>
		<FluentButton OnClick="@(() => _selectedOption = _countryNotInDisplayedItems)">Set Spain</FluentButton>
		<FluentButton OnClick="@(() => _selectedOption = _countryInList)">Set Canada</FluentButton>
	</FluentStack>
</FluentStack>
@code {
	Country? _selectedOption;
	Country _countryNotInList = new Country("Atlantis", "AT");
	Country _countryNotInDisplayedItems = new Country("Spain", "ES");
	Country _countryInList = new Country("Canada", "CA");

	private void SelectedOptionChanged(Country? country)
	{
		Console.WriteLine($"Selected option changed to: {country?.Name} ({country?.Code})");
		_selectedOption = country;
	}

	private void OnSearchAsync(OptionsSearchEventArgs<Country> e)
	{
		Console.WriteLine("OnSearchAsync called with text: " + e.Text);
		if (String.IsNullOrEmpty(e.Text))
		{
			e.Items = Countries;
		}
		else
		{
			e.Items = Countries
				.Where(c => c.Name.Contains(e.Text, StringComparison.InvariantCultureIgnoreCase))
				.ToList();
		}
	}
	private List<Country>? _countries;
	private List<Country> Countries
	{
		get
		{
			if (_countries == null)
			{
				_countries = new List<Country>()
				{
					new("Australia", "AU"),
					new("United States","US"),
					new("Canada","CA" ),
					new("Mexico","MX" ),
					new("Brazil","BR" ),
					new("Argentina","AR" ),
					new("United Kingdom","GB" ),
					new("France",  "FR" ),
					new("Germany", "DE" ),
					new("Italy", "IT" ),
					new("Spain", "ES" ),
					new("Portugal", "PT" ),
					new("Netherlands",  "NL")
				};
			}
			return _countries;
		}
	}
	private record Country(string Name, string Code)
	{
		public override string ToString() => $"{Name} ({Code})";
	}
}
